.dropdown-border{
  margin: 0 50 10 40;
}

.button-search{
  margin: 40 30 0 30;
  background-color: #FF5252;
  color: #ffffff;
}

.button-reset{
  margin: 20 30 0 30;
  color: #ffffff;
  background-color: #BDBDBD;
}
